<hr style="border:5px solid #108999"> </hr>

# pandas Basics <hr style="border:4.5px solid #108999"> </hr>

## Installing and Running pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

## Introduction to pandas Series

In [3]:
import pandas as pd

In [4]:
products = ['A', 'B', 'C', 'D']
products

['A', 'B', 'C', 'D']

In [5]:
type(products)

list

In [6]:
product_categories = pd.Series(products)

In [7]:
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [8]:
type(product_categories)

pandas.core.series.Series

In [9]:
type(pd.Series(products))

pandas.core.series.Series

In [10]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [11]:
print(daily_rates_dollars)

0    40
1    45
2    50
3    60
dtype: int64

In [13]:
import numpy as np

In [14]:
array_a = np.array([10, 20, 30, 40, 50])
array_a

array([10, 20, 30, 40, 50])

In [15]:
type(array_a)

numpy.ndarray

In [16]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [17]:
print(series_a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [18]:
type(series_a)

pandas.core.series.Series

## Working with Attributes in Python

In [19]:
import pandas as pd

In [25]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [21]:
series_a.dtype

dtype('int64')

In [22]:
series_a.size

5

In [26]:
product_categories = pd.Series(['A', 'B', 'C', 'D'])
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [27]:
product_categories.dtype

dtype('O')

In [28]:
A=product_categories.size

4

In [32]:
A=product_categories.size
type(A)

int

In [35]:
product_categories.name

In [34]:
print(product_categories.name)

None

In [101]:
product_categories.name = "Product Categoriess"
product_categories

0    A
1    B
2    C
3    D
Name: Product Categoriess, dtype: object

In [37]:
product_categories.name

'Product Categories'

In [38]:
print(product_categories.name)

Product Categories

## Using an Index in pandas

In [40]:
import pandas as pd

In [41]:
prices_per_category = {'Product A': 22250, 'Product B' : 16600, 'Product C':15600}
prices_per_category

{'Product A': 22250, 'Product B': 16600, 'Product C': 15600}

In [42]:
type(prices_per_category)

dict

In [43]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

In [44]:
type(prices_per_category)

pandas.core.series.Series

In [45]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [46]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

## Label-based vs Position-based Indexing

In [ ]:
import pandas as pd

In [47]:
series_a = pd.Series([10, 20, 30, 40, 50])
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [48]:
series_a.index

RangeIndex(start=0, stop=5, step=1)

In [49]:
type(series_a.index)

pandas.core.indexes.range.RangeIndex

In [50]:
list(series_a.index)

[0, 1, 2, 3, 4]

In [51]:
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':12500})
prices_per_category

Product A    22250
Product B    16600
Product C    12500
dtype: int64

In [52]:
prices_per_category.index

Index(['Product A', 'Product B', 'Product C'], dtype='object')

In [53]:
type(prices_per_category.index)

pandas.core.indexes.base.Index

## More on Working with Indices in Python

In [54]:
import pandas as pd

In [55]:
series_a = pd.Series([10, 20, 30, 40, 50])
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':12500})

In [56]:
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [57]:
series_a[0]

10

In [58]:
prices_per_category

Product A    22250
Product B    16600
Product C    12500
dtype: int64

In [60]:
prices_per_category['Product A']

22250

In [59]:
# prices_per_category[0]
# prices_per_category[1]
prices_per_category[2]

C:\Users\GENIUS ELECTRONICS\AppData\Local\Temp\ipykernel_3392\1806119804.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prices_per_category[2]

12500

In [61]:
series_b = pd.Series([10, 20, 30, 40, 50], index = [1, 2, 3, 4, 5])
series_b

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [62]:
series_b[0]

KeyError: 0

In [63]:
series_b[1]

10

In [64]:
series_c = pd.Series([10, 20, 30, 40, 50], index = ["1", "2", "3", "4", "5"])
series_c

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [65]:
series_c[1]

C:\Users\GENIUS ELECTRONICS\AppData\Local\Temp\ipykernel_3392\2194739140.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series_c[1]

20

In [66]:
series_c["1"]

10

In [67]:
series_c[0]

C:\Users\GENIUS ELECTRONICS\AppData\Local\Temp\ipykernel_3392\2113565685.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series_c[0]

10

In [68]:
prices_per_category

Product A    22250
Product B    16600
Product C    12500
dtype: int64

## Using Methods in Python - Part I

In [2]:
import pandas as pd

In [3]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 1000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 1000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [136]:
start_date_deposits

7/4/2014      2000
1/2/2015      1000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      1000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [4]:
start_date_deposits.sum

<bound method Series.sum of 7/4/2014      2000
1/2/2015      1000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      1000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64>

In [5]:
start_date_deposits.sum(2,4)

ValueError: For argument "skipna" expected type bool, received type int.

In [140]:
start_date_deposits.min()

1000

In [141]:
start_date_deposits.max()

4000

In [142]:
start_date_deposits.idxmax()

'9/3/2015'

In [144]:
start_date_deposits.idxmin()

'1/2/2015'

## Using Methods in Python - Part II

In [79]:
import pandas as pd

In [80]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [81]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [82]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [83]:
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

## Parameters vs Arguments

In [84]:
import pandas as pd

In [85]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [86]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [87]:
start_date_deposits.head(3)

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

In [92]:
start_date_deposits.head(10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

In [93]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [94]:
start_date_deposits.head(n=10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

## The pandas Documentation

In [95]:
import pandas as pd

In [96]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

In [97]:
start_date_deposits.sum()

29500

In [98]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [99]:
start_date_deposits.head(10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

In [100]:
start_date_deposits.sum()

29500

## Introduction to pandas DataFrames

In [1]:
import pandas as pd

## Creating DataFrames from Scratch

<u>**#1: Construct a DataFrame from a dictionary of lists**</u>

In [102]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [103]:
data = {'ProductName':['Product A', 'Product B', 'Product C', 'Product D'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

ValueError: All arrays must be of the same length

<u>**#2: Construct a DataFrame from a dictionary of lists + specify an index**</u>

In [ ]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

In [104]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

<u>**#3: Construct a DataFrame from a list of dictionaries**<u/>

In [2]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [3]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':[12500, 100000]}]
df = pd.DataFrame(data)
df

  ProductName     ProductPrice
0   Product A            22250
1   Product B            16600
2   Product C  [12500, 100000]

In [6]:
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500},
        {'ProductName':'Product D'}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A       22250.0
1   Product B       16600.0
2   Product C       12500.0
3   Product D           NaN

<u>**#4: Construct a DataFrame from a dictionary of pandas Series**<u/>

In [105]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

In [106]:
data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [107]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [108]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['C', 'B', 'A'])

data = {'ProductName':ser_products, 'ProductPrice':ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         12500
B   Product B         16600
C   Product C         22250

<u>**#5: Construct a DataFrame from a list of lists**<u/>

In [109]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [110]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500, 5000]]
df = pd.DataFrame(data)
df

           0      1       2
0  Product A  22250     NaN
1  Product B  16600     NaN
2  Product C  12500  5000.0

In [116]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
c=['ProductName', 'ProductPrice']
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [112]:
df.columns = ['ProductName', 'ProductPrice']
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [ ]:
df.index = ['A', 'B', 'C']
df

<u>**#6: Construct a DataFrame in a Professional Way**<u/>

In [126]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]], 
                  columns = ['ProductName', 'ProductPrice'],
                  index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [127]:
df.shape

(3, 2)